---
layout: default
---

<div class="wrapper">
    <div class="row posts x--pt">
          {% for post in paginator.posts limit:1 %}
              <article class="posts_post posts_post--hero col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <a href="{{ site.url }}{{ post.url }}">
                    <div class="posts_post_info posts_post_background" style="background-image:url('{{ assets[post.image].digest_path }}')">
                          <p class="posts_post_cat">{{ post.categories }} </p>
                    </div>
                    <h2 class="posts_post_title">
                        {{ post.title }}
                    </h2>
                </a>
            </article>
          {% endfor %}


          {% for post in paginator.posts offset:1 limit:1 %}
            <article class="posts_post col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <a href="{{ site.url }}{{ post.url }}">
                  <div class="posts_post_info posts_post_background" style="background-image:url('{{ assets[post.image].digest_path }}')">
                        <p class="posts_post_cat">{{ post.categories }} </p>
                  </div>
                  <h2 class="posts_post_title">
                     {{ post.title }}
                   </h2>

              </a>
          </article>
          {% endfor %}

          {% for post in paginator.posts offset:2 limit:2 %}
            <article class="posts_post col-lg-6 col-md-4 col-sm-6 col-xs-12">
              <a href="{{ site.url }}{{ post.url }}">
                  <div class="posts_post_info posts_post_background" style="background-image:url('{{ assets[post.image].digest_path }}')">
                        <p class="posts_post_cat">{{ post.categories }} </p>
                  </div>
                  <h2 class="posts_post_title">
                     {{ post.title }}
                   </h2>

              </a>
          </article>
          {% endfor %}

          {% for post in paginator.posts offset:4 %}
            <article class="posts_post col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <a href="{{ site.url }}{{ post.url }}">
                  <div class="posts_post_info posts_post_background" style="background-image:url('{{ assets[post.image].digest_path }}')">
                        <p class="posts_post_cat">{{ post.categories }} </p>
                  </div>
                  <h2 class="posts_post_title">
                     {{ post.title }}
                   </h2>

              </a>
          </article>
          {% endfor %}
    </div>


    <!-- Pagination links -->
    <div class="pagination">
        {% if paginator.previous_page %}
            <a class="arrow" href="{{ paginator.previous_page_path }}" class="previous">↞</a>
        {% else %}
        {% endif %}
        <span class="page_number ">{{ paginator.page }}/{{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
            <a class="arrow" href="{{ paginator.next_page_path }}" class="next">↠</a>
        {% else %}

        {% endif %}
    </div>
</div>