<article class="posts_post col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <a class="" href="{{ site.url }}{{ post.url }}">
        <div class="col-lg-12" style="background: url('{{ site.url }}{{post.image}}'); background-position: center center; background-size:cover; height: 150px; width: auto; margin: 12px 0;">
        </div>
        <h2 class="posts_post_title">
           {{ post.title }}
         </h2>
        <div class="posts_post_info">
              <p class="posts_post_cat smaller">
                  {% assign m = post.date | date: "%-m" %}
                                {{ post.date | date: "%-d" }}
                                    {% case m %}
                                {% when '1' %}Sausio
                                {% when '2' %}Vasario
                                {% when '3' %}Kovo
                                {% when '4' %}Balandžio
                                {% when '5' %}Gegužės
                                {% when '6' %}Birželio
                                {% when '7' %}Liepos
                                {% when '8' %}Rugpjūčio
                                {% when '9' %}Rugsėjo
                                {% when '10' %}Spalio
                                {% when '11' %}Lapkričio
                                {% when '12' %}Gruodžio
                                {% endcase %}
                            {{ post.date | date: "%Y" }}
                        </p>
        </div>
    </a>
</article>
