<footer class="footer">
    <div class="wrapper row top-xs">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <span class="smaller"> {{site.description}} </span> <br />
            <div><a class="smaller" href="/nosubway">Miestas be požeminių perėjų</a></div>
        </div>
        <!--<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 start-xs end-lg end-md end-sm" style="overflow: hidden">
            <div class="fb-page" data-href="https://www.facebook.com/urbanistaslt/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/urbanistaslt/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/urbanistaslt/">Urbanistas</a></blockquote></div>
        </div>-->
    </div>
</footer>
