<footer class="footer wrapper row">
        <div class="info col-lg-8 col-md-6 col-sm-6 col-xs-12">
            <span class="smaller"> {{site.description}} </span> <br />
            <div><a class="smaller" href="mailto:kiril.abashkin@gmail.com">Laiškas urbanistui</a></div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="fb-like" data-href="https://www.facebook.com/urbanistaslt/" data-width="300px" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
        </div>
</footer>
