<header class="header">
    <div class="wrapper">
        <div class="header_top">
            <div class="header_logo">
                <a class="header_logo_link" href="{{ site.url }}" aria-label="pagrindinis puslapis">
                    <img src="{{site.baseurl}}/assets/logo.svg"  alt="urbanistas.lt - blogas apie miestus"/>
                    <br />
                    <span> — blogas apie miestą</span>
                </a>
            </div>

            <button class="toggle-nav" aria-label="navigacija">
              <div id="nav-icon1">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
            </button>


            <nav class="desktop">
                <ul class="nav">
                    {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %} {% for p in navigation_pages %} {% if p.navigation_weight %}
                    <li class="header_nav--item">
                        <a href="{{site.baseurl}}{{ p.url }}" {% if p.url== page.url %}class="header_nav--link active"{% else %}class="header_nav--link"{% endif %}>
                            {{ p.title }}
                          </a>
                    </li>
                    {% endif %} {% endfor %}
                </ul>
            </nav>
        </div>

        <nav class="mobile">
            <ul class="nav">
                {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %} {% for p in navigation_pages %} {% if p.navigation_weight %}
                <li class="header_nav--item">
                    <a href="{{site.baseurl}}{{ p.url }}" {% if p.url== page.url %}class="header_nav--link active"{% else %}class="header_nav--link"{% endif %}>
                        {{ p.title }}
                      </a>
                </li>
                {% endif %} {% endfor %}
            </ul>
        </nav>


    </div>
</header>
<script>
    (function() {
        var header = document.querySelector('.header'),
            btn = document.querySelector('.toggle-nav'),
            menu = document.querySelector('#nav-icon1');
        btn.addEventListener('click', function() {
            menu.classList.toggle('open');
            header.classList.toggle('active');
        });
    })();
</script>
