<div class="more x--ph">
    <div class="lighter smaller">Nauji straipsniai</div>
    <div class="row">
        {% for post in site.posts limit:4 %}
          <div class="posts_post col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="{{ site.url }}{{ post.url }}">
                <div class="posts_post_info" style="min-height:60px !important; background-image:url('{{ site.url }}{{ post.image }}')">
                      <p class="posts_post_cat">Kategorijos: {{ post.categories }} </p>
                </div>
                <h2 class="posts_post_title" style="font-size:14px; padding-top:0;">
                   {{ post.title }}
                 </h2>
                <!-- <img class="posts_post_image" src="{{ post.image }}" /> -->
            </a>
        </div>
        {% endfor %}
    </div>
</div>
