{% asset tiny-slider.js @inline %}

<div class="slider">
    {% for slide in page.slides %}
        <div> {% asset {{slide}} alt={{page.title}} %} </div>
    {% endfor %}
</div>



<script>
gn.ready(function () {
  var slider = tinySlider({
    container: document.querySelector('.slider'),
    mode: 'carousel',
    direction: 'horizontal',
    items: 1,
    gutter: 0,
    // gutterPosition: 'right',
    edgePadding: 0,
    fixedWidth: false,
    //maxContainerWidth: true,
    //slideByPage: true,
    slideBy: 1,
    controls: true,
    controlsText: ['', ''],
    controlsContainer: document.querySelector('.slider-controls'),
    nav: true,
    navContainer: document.querySelector('.thumbnails'),
    arrowKeys: true,
    speed: 300,
    responsive: true,
    lazyload: true,
    touch: true,
    rewind: false
  });
  slider.init();
});
</script>
