$text-primary: #404040;
$text-secondary: #999;
$link-color: #e27079;
$second-link-color: #0B486B;
$link-color-header: #0B486B;
$navigation-button:#fe2d3e;
$active-menu-item: $navigation-button;
$header-bg: #000;
$wrapper-bg: #fff;
$menu-link-color: #9E9E9E;

@mixin bg() {
  background: #e6e6e6;
}
