$text-primary: #404040;
$text-secondary: #999;
$link-color: #e27079;
$second-link-color: #0B486B;
$link-color-header: #0B486B;
$navigation-button:#e27079;
$active-menu-item: $navigation-button;
$header-bg: #fff;
$wrapper-bg: #fff;
$menu-link-color: #9E9E9E;

@mixin bg() {
//     background:
// linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
// linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
// linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
// linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
// linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
// linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
// background-color: #131313;
// background-size: 20px 20px;

// background:
// linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
// linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
// background-color:#708090;
// background-size: 64px 128px;
background: #f6f6f6;
}
