.site-footer {
    background: #000;
    color:white;
    .footer-heading {
        font-size:14px;
    }
    .footer-col-wrapper {
        color:white;
        font-size: 12px;
    }
}

.footer {
    width:100%;
    min-height:100px;
    background: black;
    color:white;
    padding: 24px;
}
