.site-header {
    background: #000;
    color: white;
    border-top: 0;
    border-bottom: 0;
    
    .site-title {

        color: #ffaf00;
        font-size:18px;
        font-weight:bold;

        &:visited {
            color:#ffaf00;
        }
    }
}

.site-nav {
    .page-link {
        color:white;
    }
}
