.header {
    width: 100%;
    background: black;
    color: white;

    .wrapper {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
    }

    &_logo {
        width: 200px;
        -ms-flex-positive: 0;
        flex-grow: 1;
        img {
          height: 50px;
        }

        a {
            display: block;
        }
    }

    &_nav {
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: right;

        &--item {
            width: auto;
        }

        &--link {
            color: white;

            &.active {
                font-weight: bold;
                color: orange;
            }

            &:visited {
                color: white;
            }

            &:hover {
                text-decoration: underline;
                color: white;
            }
        }

        ul {
            margin: 0;
        }
    }
}




.header nav {
  position: fixed;
  background: rgba(118,194,175, 1);
  top:0;left:0;
  display:-ms-flexbox;
  display:flex;
  width:100%;
  height:100%;
  -ms-flex-pack:center;
  justify-content:center;
  opacity:0;
  z-index: -10;
  pointer-events: none;
  transition: opacity 0.1s ease;
}

.header ul.nav {
  padding:12px;
  overflow: hidden;
  width:100%;
  height:100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack:center;
  justify-content:center;
}


.header ul.nav li a {
  display: block;
  color: #fff;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transform: scale(0);
  opacity:0;
  font-size: 2.2em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  &:hover {
    text-decoration: underline;
  }
}

.header.active nav {
  opacity:1;
  z-index:10;
  pointer-events: auto;
  transform: scale(1);
}


.header.active ul.nav li a {
  cursor: pointer;
  transform: translateX(0px);
  opacity: 1;
}



/* Style for the plus button */

button.toggle-nav {
  background:none;
  -ms-flex-positive:0;
  flex-grow:0;
  width: 40px;
  height: 100%;
  color: #fff;
  border: none;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
}

.header.active button.toggle-nav {
  z-index:20;
}


.header {

  .wrapper {
    width: 100%;
    background: black;
    color: white;
    padding: 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }
}


/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 100%;
  height: 22px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg);
}
