.mt10 {
    margin-top:10px;
}

.mt20 {
    margin-top:20px;
}
.mb6 {
    margin-bottom: 6px;
}

.smaller {
    font-size:12px;
}

.lighter {
    color: #999;
}
.italic {
    font-style:italic;
}

.bolder {
    font-weight: 700;
}
