/**
   * (optional) define here the style definitions which should be applied on the slider container
   * e.g. width including further controls like arrows etc.
   */

   $slider_width: 100%;

  .slider {
      display: -ms-flexbox;
      display: flex;
      position: relative;
      width: $slider_width;
  }

  .frame {
      /**
       * (optional) wrapper width, specifies width of the slider frame.
       */
      width: $slider_width;

      position: relative;
      font-size: 0;
      line-height: 0;
      overflow: hidden;
      white-space: nowrap;
  }

  .slides {
      display: inline-block;
      margin-left:0;
  }

  li {
      position: relative;
      display: inline-block;

      /**
       * (optional) if the content inside the slide element has a defined size.
       */
      width: $slider_width;
  }

  .prev, .next {
      position: absolute;
      top: 50%;
      margin-top: -25px;
      display: block;
      cursor: pointer;
  }

  .next, .prev {
      top: 50%;
      background: rgba(0,0,0, 0.4);
      border: 1px solid #333;
      padding:0;
      outline:none;
  }



  .next {
      right: 0px;
  }

  .prev {
      left: 0px;
    //   border-right:0;
  }

  .next svg, .prev svg {
      width: 25px;
  }
