---
layout: default
---
<!DOCTYPE HTML>
<html>
  <head>
    <title> {{ page.title }} {{site.title}} </title>
    <meta name="description" content="{{ site.description}}">
    <link rel="stylesheet" href="{{ site.baseurl }}{{post.url}}/assets/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}{{post.url}}/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  {% include header.html %}

  <div class="wrapper">
      {{ content }}
  </div>

  {% include footer.html %}

  <script src="{{ site.baseurl }}{{post.url}}/assets/js/load.js"></script>
