---
layout: default
---
<!DOCTYPE HTML>
<html>
  <head>
    {% seo %}
    <link rel="stylesheet" href="{{ site.baseurl }}{{post.url}}/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="favicon" sizes="16x16" href="{{ site.baseurl }}/assets/favicon.ico?v2">
    <script async src="//meandmax.github.io/lory/dist/lory.min.js"></script>
  </head>

  {% include header.html %}

  <div class="wrapper pb100">
      {{ content }}
  </div>

  {% include footer.html %}
