---
layout: default
---
    <div class="row posts">
      {% for post in site.posts %}
        <div class="posts_post col-lg-3 col-md-6">
          <a href="{{ site.url }}{{ post.url }}">
              <div class="posts_post_info" style="background-image:url('{{ site.url }}{{ post.image }}')">
                    <p class="posts_post_cat">Kategorijos: {{ post.categories }} </p>
              </div>
              <h2 class="posts_post_title">
                 {{ post.title }}
               </h2>
              <!-- <img class="posts_post_image" src="{{ post.image }}" /> -->
          </a>
      </div>
      {% endfor %}
    </div>
