---
layout: default
---

<img src="/assets/nosubway/nosubway_header.png" />
<div class="row">
    <div class="col-lg-8 col-xs-12">
        <h1 class="lighter mt10 mb20">Mitai apie požemines perėjas</h1>
        <section>
            <h2 class="mt10">1. Požeminės perėjos yra saugios</h2>
            <div class="row top-xs">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="fs-14">
                        Požeminių perėjų propaguotojai bando įrodinėti, kad jos yra saugios - taip atlaisvinant kelią automobilių judėjimui. <br /> <br />
                        2006 metais, vokiečiai  išleido knygą apie miestų kelių dizainą ir įrengimą. Paskui ši knyga buvo išversta į anglų kalba.
                        Mes išvertėm 6.1.8.8. punktą apie požeminių ir antžeminių perėjų įrengimą.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-xs">
                    <a href="https://www.deutsche-digitale-bibliothek.de/item/FEOLPKJPLJC76LUPILFPNFFETVSPSTO5">
                        <figure class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                            <img src="http://ic.pics.livejournal.com/terrific_jams/52155637/84174/84174_original.png" alt="Directives for the Design of Urban Roads knyga"  />
                            <figcaption>Directives for the Design of Urban Roads</figcaption>
                        </figure>
                    </a>
                </div>
            </div>

            <h2>6.1.8.8. Negatvinės (off-street) perėjos</h2>
            <p class="fs-14">
                Venkite naujų požeminių ir viršžeminių pėsčiųjų perėjų įrengimą, išskyrus atvejus, kai jie yra patogūs dėl vietovės reljefo. Esamos požeminės perėjos turi būti pakeistosarba dubliuojamos antžeminėmis perėjomis. Išimtimis yra negatvinės (off-street) perėjos ties žemės lygiu, sankirtose su nišoje esančiais autobusų, geležinkelių armagistraliniais keliais (urban motorway).
                <br /> <br />
                Viršžeminės perėjos dažniausiai priverčia pėsčiuosius praeiti ilgesnę distanciją negu požeminės perėjos. Daugumoje atvejų, mechaniniai įrenginiai, tokie kaip liftai areskalatoriai - naudojami tam, kad sumažinti aukštumų skirtumą, bet jie dažnai gendaarba reikalauja investicijų juos prižiūrint.

                <h3>Principai turi būti atsižvelgti įrenginėjant pėsčiųjų perėjas</h3>

                <ul class="fs-14 col-lg-10">
                    <li>Požemines perėjas reikia dubliuoti antžeminėmis perėjomis dėl kriminalinių įvykių pastarosiose, ypač naktiniu paros metu, netgi jei antžeminės perėjos yra mažiau patogesnės</li>
                    <li>Posūkiai perėjose turi būti sklandžios formos ir turėti kūgiškus perėjimus, o nestačiu kampu.</li>
                    <li>Požeminės perėjos turėtų būti aiškios formos, su paprasta navigacija, be jokiųužslėptų nišų ir aklių kampų.</li>
                    <li>Perėjimai turi turėti prieigą prie visų pėsčiųjų zonų ir būti lengvai prieinamineįgaliems ir nemobiliems piliečiams.</li>
                    <li>Atstumas praeinamas po žeme neturi viršyti 85% nuo bendro praėjimo ilgio(įskaitant rampą), o jeigu įmanoma, ne daugiau kaip 60%. Tai įgyvendinama atvirųpraėjimų dėka, o taip pat “langais” pakeliui, jeigu tai įmanoma.</li>
                </ul>

                <p> 🇩🇪 Vokiečiai jau 2006 surašė taisykles kurios yra aiškios ir padeda gerinti miesto erdvės ir pesčiųjų judėjimą.</p>

            </p>
        </section>
        <section>
            <h2>2. Požeminės perėjos yra patogios</h2>
            <div class="col-lg-12 col-xs-12">
                <figure class="mb20 mt10">
                    <img src="/assets/nosubway/comfort.jpg" alt="Mitas apie požeminių perėjų patogumą" /> 
                    <figcaption> Mitas apie patogumą </figcaption>
                </figure>
                <p class="col-lg-10 col-xs-12 mb20 fs-14">Miesto infrastruktūra turi atsižvelgti į žmonių poreikį su ribotu mobilumu, kad nešalinti jų dalyvavimą iš visuomeninio gyvenimo. <br /><br />
            Demokratinėse valstybėse sukuriamos sąlygos leidžiamos realizuoti “aplinkos teisingumą”,todėl kad jie vertina dalyvavimą viešajame gyvenime visų piliečių, nepriklausomai nuo jų galimybės judėti.
                    <img src="/assets/nosubway/isolate.png" alt="Požeminės perėjos izoliuoja piliečius su ribotu mobilumu" />            
                </p>
                <div class="row mt50 mb20 center-xs">
                    <div class="col-lg-1 col-xs-12">
                        <img src="/assets/nosubway/social-people.png" alt="Požeminės perėjos izoliuoja piliečius su ribotu mobilumu" />
                    </div>
                    <p class="col-lg-8 col-xs-12 fs-14">
                        Fizinis neprieinamumas prie miesto aplinkos veda į socialinę ir psichologinę izoliaciją. Tai sumažina socialinę, ekonominę ir kultūrinę veiklą piliečių su ribotu mobilumu.
                    </p>
                </div>
        </section>
        <section>
            <h2>3. Požeminės perėjos didina automobilių pralaidumą</h2>

            <p class="fs-14 col-lg-10">Požeminės perėjos - valdžios bejėgiškumo požymis. Kiekvienas požeminis perėjimas ne magistraliniuose keliuose - pripažinimas, jog susidoroti su dabartiniu automobilių srautu savivaldybė ne gali ir dėl menkiausio pralaidumo didinimo atskiruose sankryžose pasiruošę išleisti neadekvačius biudžetus požeminių perėjų statybai (kelių požeminių perėjų kaina gali prilygti Vilniaus gatvės rekonstrukcijos biudžetui), pagrįsdami tai rūpesčiu apie pėstijį. Be to, požeminių perėjų statyba atideda realų transporto problemos sprendimą. Pralaidumas konkrečioje vietoje padidėja, užduotį galima laikyti išspręsta laikyti išspręsta, bent jau artimiausius kelerius metus, kol didėjanti automobilizacija nepareikalaus dar daugiau. O apie tai, kaip pralaidumo didinimas įtakojo sistemą bendrai ir kas bus, kai pralaidumo rezervas bus išsemtas, galvoti nepriimta. Kiek dar reikia laiko vaikštant ant grėblių, kad suprast, jog ne pėsčiuose reikalas?
            </p>
            <img class="mt10 mb20" src="/assets/nosubway/traffic_jams.jpg" alt="Požeminės perėjos neišsprendžia spusčių problemos" />
        </section>

    </div>
</div>