---
layout: default
---
<style>

.tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	font-weight: 300;
	font-size: 1.25em;
}

/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tabs nav a {
	position: relative;
	display: flex;
    flex-direction: column;
    align-items: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
}

.tabs nav a h4 {
	vertical-align: middle;
    margin-top: 12px;
}

.tabs nav li.tab-current a {
	color: #74777b;
}

.tabs nav a:focus {
	outline: none;
}

/* Icons */
.icon::before {
	z-index: 10;
	display: inline-block;
	margin: 0 0.4em 0 0;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-size: 1.3em;
	font-family: 'stroke7pixeden';
	line-height: 1;
	speak: none;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Content */
.content-wrap {
	position: relative;
    background-color: #e7ecea;
}

.content-wrap section {
	display: none;
    margin: 0 auto;
	padding: 1em;
}

.content-wrap section.content-current {
	display: block;
}

.content-wrap section p {
	margin: 0;
}

@media screen and (max-width: 58em) {
	.tabs nav a.icon span {
		display: none;
	}
	.tabs nav a:before {
		margin-right: 0;
	}
    .tabs-style-iconbox nav ul li a h4 {
        display: none;
    }
}
/*****************************/
/* Icon box */
/*****************************/

.tabs-style-iconbox nav {
	background: rgba(255,255,255,0.4);
}

.tabs-style-iconbox nav ul li a {
	overflow: visible;
	padding: 2em 0;
	line-height: 1;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.tabs-style-iconbox nav ul li a {
    text-decoration: none;
}

.tabs-style-iconbox nav ul li a h4 {
	font-weight: 700;
	font-size: 1em;
    word-wrap: break-word;
}

.tabs-style-iconbox nav a img {
    text-align: center;
    width: 60px;
    height: 60px;
}

.tabs-style-iconbox nav ul li.tab-current {
	z-index: 100;
}

.tabs-style-iconbox nav ul li.tab-current a {
	background: #fff;
	box-shadow: -1px 0 0 #fff;
}

.tabs-style-iconbox nav ul li.tab-current a::after {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 10px;
	border-top-color: #fff;
	content: '';
	pointer-events: none;
}

.tabs-style-iconbox nav ul li:first-child::before,
.tabs-style-iconbox nav ul li::after {
	position: absolute;
	top: 20%;
	right: 0;
	z-index: -1;
	width: 1px;
	height: 60%;
	background: rgba(0,0,0,0.07);
	content: '';
}

.tabs-style-iconbox nav ul li:first-child::before {
	right: auto;
	left: 0;
}

.tabs-style-iconbox .icon::before {
	display: block;
	margin: 0 0 0.25em 0;
}

</style>

<div style="margin:0 auto; max-width: 1340px;">
    <!--<img src="/assets/nosubway/nosubway_header.jpg" class="w100p" />-->
</div>
<div class="wrapper">
    <div class="row">
        <section class="mt40 mb40 col-lg-12 col-xs-12">
                <p class="lighter mb40" style="font-size: calc(3vw + 10px);font-weight: 900;">"Jus čia nepageidaujami" arba mitai apie požemines perėjas </p>
				<div class="tabs tabs-style-iconbox">
					<nav>
						<ul>
							<li class="tab-current">
                                <a href="#section-circle-1">
                                    <img src="/assets/nosubway/fast.png" />
                                    <h4>Tai greita</h4>
                                </a>
                            </li>
							<li class="">
                              <a href="#section-circle-1">
                                    <img src="/assets/nosubway/safety.png" />
                                    <h4>Tai saugu</h4>
                                </a>
                            </li>
                            <li class="">
                                <a href="#section-circle-1">
                                    <img src="/assets/nosubway/ramp.png" />
                                    <h4>Tai patogu</h4>
                                </a>
                            </li>
							<li class="">
                                <a href="#section-circle-1">
                                    <img src="/assets/nosubway/light.png" />
                                    <h4>Tai mažina kamščius</h4>
                                </a>
                            </li>
						</ul>
					</nav>
					<div class="content-wrap">
						<section id="section-circle-1" class="content-current">
                            <div class="row top-xs">
                                <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 mb20">
                                    <h2 class="mt20"> Taip greičiau </h2>
                                    <p class="">
                                        Manoma, kad pereiti požemine perėja yra greičiau negu laukti žaliojo šviesoforo signalo, bet iš tiesų tai yra netiesa.
                                        <br />
                                        <br />
                                        Įskaitaint pėsčiojo nusileidimą, pakelimą, lifto ar keltuvo laukimo laiką, pereiti gatvę per "zebrą" užtrunka žymiai greičiau.
                                    </p>
                                </div>
                                <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
                                    <img class="w100p" src="/assets/nosubway/efficiency_scheme-2.png" alt="zebra">
                                </div>
                            </div>
                        </section>
						<section id="section-circle-2" class="">
                            <div class="row top-xs">
                                <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 mb20">
                                    <h2 class="mt20"> Taip saugiau </h2>
                                    <p>
                                        Ten kur yra įrengtos požeminės perėjos eismo įvykiai su pėsčiaisiais tik padaugėja.
                                        Tai paaiškinama tuo, kad žmogus visada ieško artimiausio kelio iki savo punkto ir vietoj to,
                                        kad leistis žemyn - pasirenka eiti gatve.
                                        Kai kuriems piliečiams yra fiziškai sunku įveikti 20-ies laiptų kliūtį ir jie irgi pasirenka papraščiausia kelią -
                                        per gatve.
                                        <br /> <br />
                                        Tamsiu paros metu, naktį perėjos tampa vieta su padidinta kriminalinio aktyvumo rizika. Ten dažnai vyksta apiplėšimai ir
                                        kiti nusikaltimai (nelegali prekybą, elgetaujama).
                                    </p>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 center-xs">
                                    <img src="/assets/nosubway/best-option.png" alt="zebra">
                                </div>
                            </div>
                        </section>
						<section id="section-circle-3" class="">
                            <div class="row top-xs">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <h2 class="mt20">Taip patogiau</h2>
                                    <p>
                                        Dažniausiai keltuvai neveikia arba yra sulaužyti ir žmogui su ribotu mobilumu tenka ieškoti antžeminės perėjos
                                        arba apsiriboti judėjimo į jo tikslą.
                                        <br /><br />
                                        Administruoti keltuvus ir liftus reikalingos nemažos investicijos, o jų naudingumas, palyginus su "zebra" yra
                                        labai abejotinas.
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <figure>
                                        <img src="/assets/pozemine_pereja/pilaites-pereja.png" alt="Neveikiantis keltuvas Pilaitės požeminėje perėjoje">
                                        <figcaption>Neveikiantis keltuvas Pilaitės požeminėje perėjoje</figcaption>
                                    </figure>
                                </div>
                            </div>
                        </section>
						<section id="section-circle-4" class="">
                            <div class="row top-xs">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <h2 class="mt20">Taip mažinami kamščiai</h2>
                                    <p>
                                        Miesto valdžia kurį bando kovoti su kamščiais įrenginėdama požemines perėjas - parodo savo neprofesionalumą ir
                                        niekaip nesprendžia realios transporto problemos. Pralaidumas vienoje vietoje gali padidėti, bet tik laikinai iki tol kol
                                        automobilizacijos didėjimas nepaprašys dar daugiau. Niekada nėra įvertinamas pralaidumo padidėjimas visai miesto transporto sistemai.
                                        <br /> <br />
                                        Šviesoforai padeda atskirti ir reguliuoti srautus, išmanus šviesoforų reguliavimas ir synchronizavimas žymiai efektyviau padeda
                                        kovoti su kamščiais ir padidėjusiais automobilių srautais.
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <figure>
                                        <img src="http://www.15min.lt/images/photos/616344/original/eismo-spustys-vilniuje-57e3737c0ad24.jpg" alt="Požeminės perėjos nepadeda mažinti padidėjusios automobilizacijos pasekmes">
                                        <figcaption>Požeminės perėjos nepadeda mažinti padidėjusios automobilizacijos pasekmes</figcaption>
                                    </figure>
                                </div>
                            </div>
                        </section>
					</div><!-- /content -->
				</div><!-- /tabs -->
			</section>
        <div class="col-lg-12 col-xs-12">
            <section class="mt60 center-lg">
                <div>
                    <img src="/assets/nosubway/nepatogi_stats.png" />
                </div>
            </section>
            <section id="myth1" class="col-lg-8">
                <h1 class="mt80 bolder">Mitas #1 - Požeminės perėjos yra saugios 🚑</h1>
                <div class="row top-xs">
                    <div class="col-lg-10 col-md-8 col-sm-8 col-xs-12">
                        <p class="">
                            Požeminių perėjų gynėjai bando propaguoti jų saugumą ir patogumą. Taip jie bando paslėpti jų pagrindinią prasmę -
                            likviduoti trukdžius automobilio jūdėjimui. O jeigu kalbėti apie saugumą ir patogumą, geriau pasitelkti išsivysčiusių šalių patirtim -
                            mirtingumas keliuose kurių yra 4-5 kartus žemesnis negu Lietuvoje.

                            <br /> <br />
                            Štai vertimas punkto iš instrukcijos apie negatvinių perėjų įrengimą ir jų projektavimo principus Vokietijoje
                            2006-ųjų metų.
                        </p>
                    </div>
                    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 bottom-xs">
                        <a href="https://www.deutsche-digitale-bibliothek.de/item/FEOLPKJPLJC76LUPILFPNFFETVSPSTO5">
                            <figure class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                                <img class="w100p" src="http://ic.pics.livejournal.com/terrific_jams/52155637/84174/84174_original.png" alt="Directives for the Design of Urban Roads knyga"  />
                                <figcaption>Directives for the Design of Urban Roads</figcaption>
                            </figure>
                        </a>
                    </div>
                </div>

                <h3>6.1.8.8. Negatvinės (off-street) perėjos</h3>
                <p class="">
                    Venkite naujų požeminių ir viršžeminių pėsčiųjų perėjų įrengimą, išskyrus atvejus, kai jie yra patogūs dėl vietovės reljefo. Esamos požeminės perėjos turi būti pakeistosarba dubliuojamos antžeminėmis perėjomis. Išimtimis yra negatvinės (off-street) perėjos ties žemės lygiu, sankirtose su nišoje esančiais autobusų, geležinkelių armagistraliniais keliais (urban motorway).
                    <br /> <br />
                    Viršžeminės perėjos dažniausiai priverčia pėsčiuosius praeiti ilgesnę distanciją negu požeminės perėjos. Daugumoje atvejų, mechaniniai įrenginiai, tokie kaip liftai areskalatoriai - naudojami tam, kad sumažinti aukštumų skirtumą, bet jie dažnai gendaarba reikalauja investicijų juos prižiūrint.

                    <h3>Principai turi būti atsižvelgti įrenginėjant pėsčiųjų perėjas</h3>

                    <ul class="col-lg-10">
                        <li>Požemines perėjas reikia dubliuoti antžeminėmis perėjomis dėl kriminalinių įvykių pastarosiose, ypač naktiniu paros metu, netgi jei antžeminės perėjos yra mažiau patogesnės</li>
                        <li>Posūkiai perėjose turi būti sklandžios formos ir turėti kūgiškus perėjimus, o nestačiu kampu.</li>
                        <li>Požeminės perėjos turėtų būti aiškios formos, su paprasta navigacija, be jokiųužslėptų nišų ir aklių kampų.</li>
                        <li>Perėjimai turi turėti prieigą prie visų pėsčiųjų zonų ir būti lengvai prieinamineįgaliems ir nemobiliems piliečiams.</li>
                        <li>Atstumas praeinamas po žeme neturi viršyti 85% nuo bendro praėjimo ilgio(įskaitant rampą), o jeigu įmanoma, ne daugiau kaip 60%. Tai įgyvendinama atvirųpraėjimų dėka, o taip pat “langais” pakeliui, jeigu tai įmanoma.</li>
                    </ul>

                    <p> 🇩🇪 Vokiečiai jau 2006 surašė taisykles kurios yra aiškios ir padeda gerinti miesto erdvės ir pesčiųjų judėjimą.</p>

                </p>
            </section>
            <section id="myth2" class="col-lg-8">
                <h1 class="bolder mt40">Mitas #2 - Požeminės perėjos yra patogios </h1>
                <div class="row">
                    <figure class="mb20 mt10 col-lg-12">
                        <img src="/assets/nosubway/comfort.jpg" alt="Mitas apie požeminių perėjų patogumą" /> 
                        <figcaption> Mitas apie patogumą </figcaption>
                    </figure>
                    <p class="col-lg-10 col-xs-12 mb20 ">Miesto infrastruktūra turi atsižvelgti į žmonių poreikį su ribotu mobilumu, kad nešalinti jų dalyvavimą iš visuomeninio gyvenimo. <br /><br />
                Demokratinėse valstybėse sukuriamos sąlygos leidžiamos realizuoti “aplinkos teisingumą”,todėl kad jie vertina dalyvavimą viešajame gyvenime visų piliečių, nepriklausomai nuo jų galimybės judėti.
                        <img src="/assets/nosubway/isolate.png" alt="Požeminės perėjos izoliuoja piliečius su ribotu mobilumu" />            
                    </p>
                    <div class="row mt50 mb20 center-xs">
                        <div class="col-lg-1 col-xs-12">
                            <img src="/assets/nosubway/social-people.png" alt="Požeminės perėjos izoliuoja piliečius su ribotu mobilumu" />
                        </div>
                        <p class="col-lg-8 col-xs-12">
                            Fizinis neprieinamumas prie miesto aplinkos veda į socialinę ir psichologinę izoliaciją. Tai sumažina socialinę, ekonominę ir kultūrinę veiklą piliečių su ribotu mobilumu.
                        </p>
                    </div>
            </section>
            <section id="myth3" class="col-lg-8 mt40">
                <h1 class="bolder">Mitas #3 - Požeminės perėjos didina automobilių pralaidumą</h1>
                <div class="row">
                    <p class="col-lg-10 col-xs-12">
                        Požeminės perėjos - valdžios bejėgiškumo požymis. Kiekvienas požeminis perėjimas ne magistraliniuose keliuose - pripažinimas, jog susidoroti su dabartiniu automobilių srautu savivaldybė ne gali ir dėl menkiausio pralaidumo didinimo atskiruose sankryžose pasiruošę išleisti neadekvačius biudžetus požeminių perėjų statybai (kelių požeminių perėjų kaina gali prilygti Vilniaus gatvės rekonstrukcijos biudžetui), pagrįsdami tai rūpesčiu apie pėstijį. Be to, požeminių perėjų statyba atideda realų transporto problemos sprendimą. Pralaidumas konkrečioje vietoje padidėja, užduotį galima laikyti išspręsta, bent jau artimiausius kelerius metus, kol didėjanti automobilizacija nepareikalaus dar daugiau. O apie tai, kaip pralaidumo didinimas įtakojo sistemą bendrai ir kas bus, kai pralaidumo rezervas bus išsemtas, galvoti nepriimta. Kiek dar reikia laiko vaikštant ant grėblių, kad suprast, jog ne pėsčiuose reikalas?
                    </p>
                    <div class="col-lg-12 col-xs-12">
                        <img class="mt10 mb20" src="/assets/nosubway/traffic_jams.jpg" alt="Požeminės perėjos neišsprendžia spusčių problemos" />
                    </div>
                </div>
            </section>
            <section id="elsewhere" class="col-lg-8 mt20">
                <div class="row">
                    <h1 class="bolder">O kaip kitur?</h1>
                    <div>
                        <h2 class="bolder"> Londonas </h2>
                        <p>
                            2009 metais Londono transporto departamentas paskelbė apie požeminių/viršžeminių perėjų pakeitimą į antžemines.
                            Tai daroma mažais žingsniais, bet jau yra rezultatai.
                        </p>
                        <img src="/assets/nosubway/london.jpg" alt="Londonas uždaro požemines perėjas">
                    </div>
                    <div class="mt40">
                        <h2 class="bolder"> Paryžius </h2>
                        <p>
                            Paryžiaus centre požeminių perėjų nėra. Tiksliau, jų yra, bet jos naudojamos
                            patekimui į metro ir perėjimui tarp jo stočių. Tačiau, visur kitur, netgi per aštuonių juostų kelią,
                            pažymėta zebra.
                        </p>
                        <img src="/assets/nosubway/paris.jpg" alt="Paryžius be požeminių perėjų">
                    </div>
                    <div class="mt40">
                        <h2 class="bolder"> Roma </h2>
                        <p>
                            Italijos sostinė labai panaši į Paryžių - požeminės perėjos naudojamos tik patekimui į metro ir
                            gatvę visalaiką galima pereiti nesilendžiant žemyn.
                        </p>
                        <img src="/assets/nosubway/rome.jpg" alt="Roma be požeminių perėjų">
                    </div>
                    <div class="mt40">
                        <h2 class="bolder"> Stokholmas </h2>
                        <p>
                            Stokholme yra kelios požeminės perėjos bet jos sujungtos su išėjimu ir patekimu į metro,
                            ten yra įrengti specialus liftai, keltuvai ir eskalatoriai.
                        </p>
                        <img src="/assets/nosubway/stockholm.jpg" alt="Stokholmas be požeminių perėjų">
                    </div>
                    <div class="mt40">
                        <h2 class="bolder">Socialistinio bloko šalys</h2>
                        <p>
                            O dabar pažiūrikime į pietų Europos šalys, kurios ilgąjį laiką priklausė sovietų įtakai.
                            Ten situacija šiek tiek skiriasi negu vakarų Europoje, dauguma požeminių perėjų buvo statomos už centro ribų,
                            dažniausiai per magistralinius kelius.
                        </p>
                        <h2 class="bolder"> Praha </h2>
                        <p>
                            Vienas iš didžiausių rytų Europos miestų gali pasigirti tuo, kad jame nėra negatvinių perėjų istoriniame
                            centre, bet jos yra aptinkamos miesto miegamuosiuose rajonuose. Daugumoje atvėjų jos yra sujungtos su metro ir
                            naudojamos patekimui/išėjimui iš jo kertant gatvę. Praktiškai visada alternatyvos pereiti gatve per zebra - nėra.
                        </p>
                        <img src="/assets/nosubway/prague.jpg" alt="Požeminės perėjos Prahoje">
                    </div>
                    <div class="mt40">
                        <h2 class="bolder"> Varšuva </h2>
                        <p>
                            Per antrą pasaulinį karą miestas Lenkijos sostinė buvo praktiškai sulyginta su žeme ir atstatyta iš naujo
                            pokario laiku. Mieste buvo atstatomas pagrinde pagal sovietinius standartus. Miegamuosiuose rajonuose pilna
                            požeminių perėjų. 1970-ais mieste atsirado metro, išėjimai ir įjėmai į kurį buvo sujungti su požeminėmis perėjomis.
                            Šiandien Varšuva - rekordininkas pagal požeminių perėjų skaičių Lenkijoje. Kai kur, tam kad praeiti iki tramvajaus stotelės,
                            kurį yra gatvės vidury, reikia leistis žemyn.
                        </p>
                        <img src="/assets/nosubway/varsuva.jpg" alt="Požeminės perėjos Varšuvoje">
                    </div>
                    <div class="mt40">
                        <h2 class="bolder"> Krokuva </h2>
                        <p>
                            Istoriškai Krokuva yra padalinta į dvi lygias dalys - istorinis Krokuvos miestas ir rajonas Naujoji Huta,
                            pastatytas sovietiniais laikais šalia didelio metalurgijos fabriko. Pačioje Krokuvoje neseniai egzistavo
                            tik viena požeminė perėja netoli stoties. Ši perėja pasižymi tuo, kad joje nėra laiptų ir patekimas ir jos praėjimas
                            patogus ir žmonėms su ribotu mobilumu.  2009 metai miestas atidarė greitąjį tramvajų patekimas į kurį yra požeme. Tačiau ir ten
                            nėra jokių laiptų - piliečiai gali lengvai ir patogiai patekti į jo stotys.
                        </p>
                        <img src="/assets/nosubway/krakow.jpg" alt="Požeminės perėjos Krokuvoje">
                        <p class="mt20">
                            Visai kitoks vaizdas Naujosioa Hutos rajone, jis buvo statomas pagal sovietinius standartus ir jame išliko daug požeminių perėjų.
                            Po to kai Lenkija įstojo į Europos Sąjunga - dauguma iš jų buvo uždarytos, o likusios pritaikytos prie riboto mobilumo žmonių.
                        </p>
                    </div>
                    <div class="mt20">
                        <h2 class="bolder"> Drezdenas </h2>
                        <p>
                            Miestas yra buvusiame VDR, to pasekoje jame išliko požeminių perėjų. Tačiau, centro rekonstrukcijos metu
                            jas stengiasi uždaryti. Štai centrinės dalies rekonstrukcijos pavyzdys - matosi, kad per gatvę nupiešta yra perėjos ženklinimas ir
                            visi naudojasi būtent ją vietoje požeminės. Šios aikštės rekonstrukcija jau baigta.
                        </p>
                        <img src="/assets/nosubway/drezden.jpg" alt="Požeminės perėjos Drezdene">
                    </div>
                    <div class="mt20">
                        <h2 class="bolder"> Pchenjanas </h2>
                        <p>
                            Puikus video parodantys, kad netgi be jokio transporto srauto
                            ir automobilizacijos vistiek yra statomos požeminės perėjos.
                        </p>
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/D4hLctBvojE" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

            </section>
            <section class="mt40 mb40">
                <h1 class="bolder">Kiti straipsniai</h1>
                <h1>
                    <a href="/supratimas/2017/02/16/pirmas-totalitarines-valstybes-pozymis.html">Pirmas totalitarinės valstybės požymis</a>
                </h1>
            </section>
        </div>
    </div>
</div>

<script>
/**
 * cbpFWTabs.js v1.0.0
 * http://www.codrops.com
 *
 * Licensed under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * Copyright 2014, Codrops
 * http://www.codrops.com
 */
;( function( window ) {
	
	'use strict';

	function extend( a, b ) {
		for( var key in b ) { 
			if( b.hasOwnProperty( key ) ) {
				a[key] = b[key];
			}
		}
		return a;
	}

	function CBPFWTabs( el, options ) {
		this.el = el;
		this.options = extend( {}, this.options );
  		extend( this.options, options );
  		this._init();
	}

	CBPFWTabs.prototype.options = {
		start : 0
	};

	CBPFWTabs.prototype._init = function() {
		// tabs elems
		this.tabs = [].slice.call( this.el.querySelectorAll( 'nav > ul > li' ) );
		// content items
		this.items = [].slice.call( this.el.querySelectorAll( '.content-wrap > section' ) );
		// current index
		this.current = -1;
		// show current content item
		this._show();
		// init events
		this._initEvents();
	};

	CBPFWTabs.prototype._initEvents = function() {
		var self = this;
		this.tabs.forEach( function( tab, idx ) {
			tab.addEventListener( 'click', function( ev ) {
				ev.preventDefault();
				self._show( idx );
			} );
		} );
	};

	CBPFWTabs.prototype._show = function( idx ) {
		if( this.current >= 0 ) {
			this.tabs[ this.current ].className = this.items[ this.current ].className = '';
		}
		// change current
		this.current = idx != undefined ? idx : this.options.start >= 0 && this.options.start < this.items.length ? this.options.start : 0;
		this.tabs[ this.current ].className = 'tab-current';
		this.items[ this.current ].className = 'content-current';
	};

	// add to global namespace
	window.CBPFWTabs = CBPFWTabs;

})( window );
</script>
<script>
    (function() {

        [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
            new CBPFWTabs( el );
        });

    })();
</script>