---
layout: default
title: This is just a placeholder post
---

<div class="single-post row top-xs">

    <article class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <h2>{{ page.title }}</h2>
        <p class="post-meta">{% assign m = page.date | date: "%-m" %}
        {{ page.date | date: "%-d" }}
        {% case m %}
          {% when '1' %}Sausio
          {% when '2' %}Vasario
          {% when '3' %}Kovo
          {% when '4' %}Balandžio
          {% when '5' %}Gegužės
          {% when '6' %}Birželio
          {% when '7' %}Liepos
          {% when '8' %}Rugpjūčio
          {% when '9' %}Rugsėjo
          {% when '10' %}Spalio
          {% when '11' %}Lapkričio
          {% when '12' %}Gruodžio
        {% endcase %}
        {{ page.date | date: "%Y" }} <br>
        Kategorijos: {{ page.categories }}</p>

        {{ content }}

    </article>
    
</div>

<div class="more">
    <div class="lighter smaller">Nauji straipsniai</div>
    <div class="row">
        {% for post in site.posts limit:4 %}
          <div class="posts_post col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="{{ site.url }}{{ post.url }}">
                <div class="posts_post_info" style="min-height:60px !important; background-image:url('{{ site.url }}{{ post.image }}')">
                      <p class="posts_post_cat">Kategorijos: {{ post.categories }} </p>
                </div>
                <h2 class="posts_post_title" style="font-size:14px; padding-top:0;">
                   {{ post.title }}
                 </h2>
                <!-- <img class="posts_post_image" src="{{ post.image }}" /> -->
            </a>
        </div>
        {% endfor %}
    </div>


</div>
