---
layout: default
title: This is just a placeholder post
---

<div class="bgc-white">

    <div class="single-post wrapper row top-xs">

        <article class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
            <h1 class="single-post_title">{{ page.title }}</h1>
            <div class="post-meta">
                {% if page.location %}
                    <span class="post-meta--location">
                        <img src="{{site.url}}/assets/location.svg"> {{page.location}}
                    </span>
                {% endif %}
                <div>
                    <span>Paskelbta:</span>
                    <span id="date">
                        {{ page.date | date: "%Y/%m/%d" }}
                    </span>
                </div>
                Kategorijos: {% assign cat = page.categories %}
                                {% if cat contains "Erdves" %}
                                    Erdvės
                                {% else %}
                                    {{cat}}
                                {% endif %}

            </div>


            {{ content }}

            {% include fb_share.html %}

        </article>

    </div>
    {% include more_posts.html %}
    
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/lt.js"></script>
<script>
    var date = document.getElementById('date');
    var timeString = new Date(date.textContent).toISOString();
    var time = moment(Date.parse(timeString, "yyyy-MM-dd")).fromNow();
    date.innerHTML = time;
</script>